NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_PRIVY_APP_ID=
PRIVY_APP_SECRET=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
BINANCE_WEB3_API_KEY=
BINANCE_WEB3_API_SECRET=
BSC_RPC_URL=
NEXT_PUBLIC_STACKSCLUB_VAULT_ADDRESS=
STACKSCLUB_TREASURY_ADDRESS=
PINATA_JWT=
PINATA_GATEWAY_URL=
BSCSCAN_API_KEY=
